*{
    border: 0px red solid;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #e9ffbb;
}

header{
    min-height: 80px;
    display: flex;
    background-color: #4d9d4d;
    justify-content: center;
}

#logo{
    position: absolute ;
    color: #ffee00;
    left: 10px;
    font-weight: 300;
}

#menu{
    width: 1600px;
    text-decoration: none;
    min-height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#menu a{
    border: none;
    color: #ffee00;
    text-decoration: none;
    margin-left: 20px;
    font-size: 25px;
}

#container{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

main{
    color:rgb(85, 128, 88) ;
    width: 600px;
    padding-top: 20px;
    font-size: large;
    text-align: justify;
}


#p, #p1{
    color: rgb(85, 128, 88);
    padding: 0;
    display: flex;
    justify-content: center;
}

#p1 h4{
    margin-bottom: 10px;
    margin-top: 0;
}
#p h2{

    margin-bottom: 0;
}

#sort{
    min-height: 30px;
    background-color: #5cbd5c;
    color: rgb(85, 128, 88);
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #ffee00;
    font-weight: 300;
}

#tea{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#tea div >img{
    width: 200px;
}

#tea_1:hover, #tea_2:hover, #tea_3:hover{
    transform:translateY(-5px);
    box-shadow: 0px 0px 20px #183018;
    transition: transform 0.8s ease;
}

#tea_1{
    height: 240px;
    width: 530px;
    margin: 20px;
    border-radius: 20px;
    background-color: #4d9d4d;
    box-shadow: 0px 0px 15px #162e16;
    transform:translateY(5px);
    transition: transform 0.8s ease;
}

#tea_1 img{
    border-radius: 20px;
    margin-left: 10px;
    margin-top:20px ;
    float: left;
}

#tea_1 li{
    list-style-type:none;
    margin-bottom:20px ;
    margin-left: 200px;
    color: #e9ffbb;
}

#tea_1 li:first-child{
    color: black;
    font-size: 18px;
}

#tea_2{
    height: 240px;
    width: 530px;
    margin: 20px;
    border-radius: 20px;
    background-color: #4d9d4d;
    box-shadow: 0px 0px 15px #264c26;
    color: #e9ffbb;
    transform:translateY(5px);
    transition: transform 0.8s ease;
}

#tea_2 h3{
    color: black;
}

#tea_2 img{
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 5px;
    margin-top:20px ;
    float: left;
}

#tea_3{
    height: 240px;
    width: 530px;
    margin: 20px;
    border-radius: 20px;
    background-color: #4d9d4d;
    box-shadow: 0px 0px 15px #264c26;
    transform:translateY(5px);
    transition: transform 0.8s ease;
}

#tea_3 img{
    border-radius: 20px;
    margin-left: 10px;
    margin-top:20px ;
    float: left;
}

#tea_3 li{
    list-style-type:none;
    margin-bottom:20px ;
    margin-left: 200px;
    color: #e9ffbb;
}

#tea_3 li:first-child{  
    color: black;  
    font-size: 18px;
}

#history{
    color: #262a1f;
    font-size: 20px;
    font-weight: bold;
    padding: 30px;
    text-align: center;
    background:linear-gradient(#e9ffbb, #264c26) ;
}

#w1{
    text-align: start;
}
#w2{
    text-align: center;
}
#w3{
    text-align:end;
}
#w5{
    text-align: start;
}


footer{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff898;
    background-color: #264c26;
    display: flex;
    min-height: 50px;
    align-items: center;
    justify-content: center;
}